{% extends 'tasks/layout.html' %}

{% block body %}

    <h1 class ="text">Tasks Públicas</h1>
    <ul>
        {% for item in tasks %}
            <li>
                {{ item }}
                <form action="{% url 'index' %}" method="post" class="remove-form">
                    {% csrf_token %}
                    <input type="hidden" name="task" value="{{ item }}">
                    <input type="submit" value="X" name="remover">
                </form>
            </li>
        {% endfor %}
    </ul>

    <form action="{% url 'index' %}" method="post" class="add-task" >
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="adicionar">

    </form>

    {% if user.is_authenticated %}
    <a href="{% url 'privada' %}" class="text">Lista Privada</a>
    <a href="{% url 'logout' %}" class="text">Logout</a>
    {% else %}
    <a href="{% url 'login' %}" class="text">Login</a>
    {% endif %}

{% endblock %}