html, body {
    margin: 0;
    height: 100%;
}
body {
    background: linear-gradient(135deg, rgb(0,212,255) 0%, rgb(32,11,221) 100%);
    color: white;
    font-family: "Helvetica", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a {
    border: 2px solid darkred;
    padding: 2px;
    margin: 5px;
}

.remove-form {
    display: inline-flex;
}

.add-task {
    margin-bottom: 20px;
}