html, body {
    margin: 0px;
    height: 100%;

}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
body {
    background: rgb(36,29,149);
    background: linear-gradient(90deg, rgba(36,29,149,1) 0%, rgba(11,11,190,1) 24%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: "Helvetica", sans-serif;

}

a {
    text-decoration: none;
    color: black;
}

a {
    border: 2px solid black;
    background-color: aliceblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

ul {
    text-align: center;
    list-style: inside;
}

.remove-form {
    display: inline-flex;
}

.add-task {
    margin-bottom: 20px;
    text-align: center;

}

.text {
  text-align: center;
}



